*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #111;
}
.parent .items .item {
    overflow: hidden;
}
.parent .items .item a img {
    filter: brightness(50%) blur(1px);
    transition: .3s;
    width: 100%;
}
.parent .items .item:hover a img {
    filter: brightness(100%) blur(0) drop-shadow(0 0 10px black);
    transform: scale(1.05) translatex(-50%);
    width:97.5%;
    position: relative;
    left: 52%;
}
